@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Schoolbell&display=swap');

:root {
  font-family: "Google Sans Flex", sans-serif;

  --dark: #272B36;
  --grey: #595D66;
  --light-grey: #B7B8BB;
  --light: #D7D7D6;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--light);
  color: var(--color-text);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, p {
  margin-top: 0;
}
