@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

:root {
  font-family: "PT Serif Caption", serif;

  --background-color: #f9f9f9;
  --background-button: #f1f5f9;
  --background-button-border: #eaebec;
  --background-button-hover: #0f172a;
  --text-button: #0f172a;
  --text-button-hover: #f1f5f9;
  --cards: white;
  --cards-border-line: #e2e8f0;
  --main-text: #14213f;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color-text);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p {
  margin-top: 0;
}
